<%- include('partials/_header') %>

  <main class="quiz-attempt-page flex-fill">
    <div class="jumbotron w-75 mt-5 mx-auto">
      <h1 class="display-4">Thanks for playing <%= attempt.name %>!</h1>
      <h2 class="display-4">You scored <%= attempt.score %>/10 on the <%= attempt.quiz_title.toUpperCase() %> Quiz.</h2>
      <hr class="my-4">
      <p>Feel like taking another crack at it? Hit that button below and see a whole list of quizzes!</p>
      <a class="btn btn-primary btn-lg" href="/quizzes" role="button">Show Me More!</a>
      <span id="attempt-copy-link-container">
        <p>Click the button below to copy the link to your attempt & share with your friends!</p>
        <p hidden class="hidden-link-attempt">localhost:8080/quizAttempt/<%= attempt.id %>
        </p>
        <button class="copy-link-attempt-btn btn btn-primary">Copy Link To Share Results</button>
        <span class="copy-message-attempt">Copied!</span>
      </span>
    </div>
  </main>


  <%- include('partials/_footer') %>