<%- include('partials/_header') %>

<<<<<<< HEAD
<main class="flex-fill">


</main>
=======
  <main class="quiz-attempt-page flex-fill">
    <div class="jumbotron w-75 mt-5 mx-auto">
      <h1 class="display-4">Thanks for playing <%= attempt.name %>!</h1>
      <h2 class="display-4">You scored <%= attempt.score %>/10 on the <%= attempt.quiz_title.toUpperCase() %> Quiz.</h2>
      <hr class="my-4">
      <p>Feel like taking another crack at it? Hit that button below and see a whole list of quizzes!</p>
      <a class="btn btn-primary btn-lg" href="/quizzes" role="button">Show Me More!</a>
    </div>
  </main>
>>>>>>> 7c44ddca4e13a17126ccb26232f79a7262af3825


  <%- include('partials/_footer') %>