<%- include('partials/_header') %>

  <main id="quizzes-show-main" class="flex-fill">
    <span id="quizzes-show-title">
      <h1>
        <%= questions[0].title.toUpperCase() %> Quiz
      </h1>
      <h3>
        Created By: <%= questions[0].creator %>
      </h3>
    </span>

    <form id="quizzes-show-form" action="/quizattempt/" method="POST">


      <% for (let i=0; i < questions.length; i++) { %>

        <div class="quizzes-show-questions input-group input-group-sm mb-3">
          <p class="text-justify">
            <%= questions[i].question %>
          </p>

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Answer:</span>
            <input name="answer<%= i+1 %>" type="text" class="form-control">
          </div>
        </div>

        <% } %>

          <input name="quiz_id" type="hidden" value="<%= questions[0].quiz_id %>">

          <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>

  </main>

  <%- include('partials/_footer') %>