<%- include('partials/_header') %>

  <main class="flex-fill">
    <span id="quizzes-user-title">
      <h1>My Quizzes</h1>
      <p>See all the quizzes you've created.</p>
    </span>

    <div class="list-group w-75 mx-auto mt-5">

      <% for (let i=0; i < quizzes.length; i++) { %>

        <div class="card text-center mt-2 mb-2">
          <div class="card-header">
            Created by: <%= quizzes[i].creator %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= quizzes[i].title.toUpperCase() %> Quiz
            </h5>
            <p class="card-text">
              <%= quizzes[i].description %>
            </p>
            <a href="/quizzes/update/<%= quizzes[i].id %>" class="btn btn-primary">Edit This Quiz!</a>
          </div>
          <div class="card-footer text-muted">
            <span>
              <button class="copy-link btn btn-primary">Copy Link</button>
            </span>
            <span>
              <% if (quizzes[i].is_public===false ) { %>
                (Private)
                <% } %>
                  Quiz with <%= quizzes[i].num_of_questions %> quesitons
            </span>
          </div>
        </div>

        <% } %>

    </div>

  </main>


  <%- include('partials/_footer') %>
