<%- include('partials/_header') %>

  <main class="flex-fill with-border">
    <div class="hidden container w-75">
      <div id="new-quiz-title">
        <h1>Edit The Quiz!</h1>
        <p>Please fill out EVERY field below before you hit SUBMIT.</p>
      </div>
      <form action="/quizzes/update/<%= response[0].quiz_id %>" method="POST">
        <div id="new-quiz-info">
          <span>
            <h4><u>Basic Info:</u></h4>
          </span>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Quiz Title</label>
              <input name="title" type="text" class="form-control" value="<%= response[0].title %>">
            </div>
            <div class="form-group col-md-6">
              <label>Quiz Description</label>
              <input name="description" type="text" class="form-control" value="<%= response[0].description%>">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Is This Quiz Public? </label>

              <select name="isPublic" class="custom-select custom-select-md">
                <option>Open this select menu</option>

                <% if(response[0].is_public) { %>
                  <option selected value=true>YES!</option>
                  <option value=false>NO!</option>
                  <% } else { %>
                    <option value=true>YES!</option>
                    <option selected value=false>NO!</option>
                    <% } %>
              </select>

            </div>


            <div class="form-group col-md-6">
              <label>Number Of Questions In Quiz </label>

              <select id="new-quiz-number" name="numOfQuestions" class="custom-select custom-select-md">
                <option>Open this select menu</option>

                <% for ( num of [5, 10, 15, 20, 25, 30, 35, 40]) { %>
                  <% if (num < response[0].question_number) {%>
                    <% continue %>
                      <% } %>
                        <% if (num===response[0].question_number) { %>
                          <option selected value=<%=response[0].question_number %>><%= response[0].question_number %>
                          </option>
                          <% } else { %>
                            <option value=<%=num %>><%= num %>
                            </option>

                            <% } %>
                              <% } %>
              </select>

            </div>
          </div>
        </div>
        <div id="new-quiz-content" class="none">

        </div>
      </form>
    </div>




  </main>

  <%- include('partials/_footer') %>
